.container {
    display: grid;
    width: 750px;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    height: 750px;
}

.box {
    justify-items : stretch;
    align-items: stretch;
}

#btn {
    height: 50px;
    width: 150px;
    font-size: medium;
}
