.container {
    display: grid;
  

/*  Change the values     👇 to experiment */
  grid-template: repeat(16,40px) / repeat(16,40px);
}

.box {
    border: 2px solid red;
    justify-items : stretch;
    align-items: stretch;
}